html {
    height: 100%;
}

/* navbar */

.navbar-brand img {
    width: 140px;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
}

.navbar {
    padding: 1em 0 !important;
    height: 150px;
}

.navbar-toggler {
    border: none !important;
    outline: none !important;
}

.banner {
    padding-left: 60px;
    padding-right: 60px;
}

.hero {
    background-image: url('../imgs/hero.jpg');
    height: 85vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


/* resposive */

 @media only screen and (max-width: 900px) {

    .navbar-brand img {
        width: 100px !important;
    }

    .hero {
        height: 35vh;
    }
 } 
