{% extends 'base.html' %}
{% load static %}

    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% block content %}
    <div class="container header-container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="allauth-form-inner-content">
                    {% block inner_content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    